@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

@import "tailwindcss";

@plugin "daisyui" {
    themes: light --default, dark;
}


@plugin "daisyui/theme" {
    name: "light";
    default: true;
    --color-primary: #EE4B21;
    --color-secondary: #07B4B0;
    --color-base: #F57C00;
}